  
<style type="text/css">
.slidecontainer {
  width: 100%;
}

.slider {
     -webkit-appearance: none;
    width: 100%;
    width: 700%;
    height: 27px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* transform-origin: 75px 75px; */
      transform-origin: 264px 167px;
    transform: rotate(-90deg);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

</style>
<script src="/assets/p5.min.js" ></script>
<script src="/assets/p5.dom.js" ></script>

<script src="/assets/p5.dom.min.js" ></script>
<script src="/assets/ml5.min.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/assets/posenet.js"></script>

<style type="text/css">
* {
  box-sizing: border-box;
}

/* Clear floats after the columns */

.row {
    width:80%;
    text-align:center;
}

.left {
    float:left;
    width:5%;
}

.center {
    display: inline-block;
    margin:0 auto;
    width:60%;
}

.right {
    float:right;
    width:5%;
}
.box{
  display: flex;
  /*flex-flow: row nowrap;*/
 /* justify-content: center;
  align-content: center;
  align-items:center;*/
  border:1px solid #e3f2fd;
}
.item{
  flex: 1 1 auto;
  /*border:1px solid #ffebee;*/
}
</style>

<div class="row" >
 
  <div  class="column left" >
  
      <p style="    margin-left: 88px;">Width</p>
      <input type="range" min="0" max="3000" value="0" class="slider" id="torso-width">
    <!-- </div> -->
  </div>
  <div class="column center">
    <div  class="" style="    width: 129%;">
      <div class="box">
         <input type="file" name="" id="t-shirt">
        <p  class="item">Left:</p><p  class="item">Position:</p><p  class="item">Right:</p>
      </div>
      <input type="range" min="-3000" max="3000" value="0" class="slider-1" id="torso-position-x">
    </div>
    
    <div id="videoContainer"></div>
    <div  class="" style="    width: 129%;">
    <input type="range" min="-3000" max="3000" value="0" class="slider-1" id="torso-position-y">

     <div class="box">
      <p  class="item">Up:</p><p  class="item">Position:</p><p  class="item">Down:</p>
    </div>
  </div>

</div>

<div  class="column right " >
  <p style="    margin-left: 88px;">Height</p>

  <input type="range" min="0" max="3000" value="0" class="slider" id="torso-height">
</div>
</div>



<style type="text/css">
.slider-1 {
  -webkit-appearance: none;
  width: 100%;
      /*margin-left: 17%;*/
  height: 25px;
  /*width: 82%;*/
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-1:hover {
  opacity: 1;
}

.slider-1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider-1::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
</style>