


<script src="assets/p5.min.js"></script>
  <script src="assets/p5.dom.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script> -->
<script src="assets/ml5.min.js" type="text/javascript"></script>
  <!-- load ml5.js -->
  <!-- <script src="/ml5.min.js" type="text/javascript"></script> -->
  <!-- keep the video in center of browser -->
  <style type="text/css">
    body{
      text-align: center;
    }
  </style>



  <!-- <p id="status">Loading Model...</p> -->
  <div id="videoContainer"></div>
  <!-- load the posenet.js file -->
  <script src="assets/posenet.js"></script>


