<!DOCTYPE html>
<html>
  <head>
    <title>AugmentedReality</title>
   

  <style type="text/css">
    body{
      text-align: center;
    }
  </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
